<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>404 Not Found</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body class="bg-light text-center">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="display-1">404</h1>
      <p class="lead">고객님! URL이 잘못됐어요. 올바르게 검색해주세요</p>
    </div>
  </div>
</div>
</body>

</html>
