<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../../../../../history/src/main/resources/templates/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .counter {
            font-size: 18px; /* 글자 크기 조절 */
            margin-bottom: 20px;
            font-family: 'Arial', sans-serif;
            color: #bbb; /* 약간 흐린 회색으로 변경 */
        }
    </style>
</head>
<body>
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>홈 화면</h2>
    </div>
    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg" type="button"
                    th:onclick="|location.href='@{/members/add}'|">
                회원 가입
            </button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-dark btn-lg"
                    onclick="location.href='items.html'"
                    th:onclick="|location.href='@{/login}'|" type="button">
                로그인
            </button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-info btn-lg"
                    th:onclick="|location.href='@{/admin/login}'|">
                관리자 로그인
            </button>
        </div>
    </div>
    <hr class="my-4">
</div> <!-- /container -->

<div class="container" th:object="${visit}">
    <div class="counter" id="totalCounter" th:text="|total: ${visit.get().total}|">총 방문자 수: 100</div>
    <div class="counter" id="todayCounter" th:text="|today: ${visit.get().today}|">오늘 방문자 수: 10</div>
</div>



</body>
</html>